
{% if user.is_authenticated %}
<style>
    /*adding row numbers through css*/
    .css-serial {
        counter-reset: serial-number; /* Set the serial number counter to 0 */
    }
    
        .css-serial td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
    
    </style>
  
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Your Answers:</h2>
  
        <div class="relative overflow-x-auto">
          <ol style="list-style: decimal inside;">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 css-serial">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                    <th scope="col" class="px-6 py-3">#</th>

                      <th scope="col" class="px-6 py-3">
                          Correct
                      </th>
  
                      <th scope="col" class="px-6 py-3">
                          Answer
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Question
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for answer in answers %}
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th cope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ forloop.counter }}</th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {% if answer.correct %}
                      ✅
                      {% else %}
                      ⛔️
                      {% endif %}
                    </th>
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{answer.answer}}
                      </th>
                      <td class="px-6 py-4">
                        {{answer.question}}
                      </td>
                  </tr>
                  {% endfor %}
                  
              </tbody>
          </table>
        </ol>
      </div>


{% endif %}