{% extends "base.html" %}

{% block content%}

        
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">bunq weekend 2023 QR Game!</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Find QR codes to earn more points. Currently you're {{your_place}} on the leaderboard</span>
      {% include 'leaderboard.html' with leaderboard=leaderboard%}
      {% include 'answers.html' with incorrect_answers=incorrect_answers correct_answers=correct_answers %}
  {% endblock%}